* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 0 auto;
}

body {
    font-family: 'Nerko One', cursive;
    background-color:#ADD8E6;
    text-align: center;
}

h1 {
    font-size: 80px;
    color: white;
    text-transform: uppercase; 
    text-shadow: 2px 2px 4px black; 
}

.row {
    margin: 30px 0;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.card-element {
    float: left;
    width: calc(25% - 30px);
    margin: 0 15px;
    border-radius: 10px;
    background-color: white;
    background-image: url('../img/pattern.png');
    background-size: contain;
    background-repeat: repeat;
    cursor: pointer;
}

.card-element.active,
.card-element:hover {
    background-image: none;
}

.card-element img {
    visibility: hidden;
    width: 100%;
}

.card-element.active img,
.card-element:hover img {
    visibility: visible;
}

.card-element h3 {
    visibility: hidden;
    font-size: 28px;
    line-height: 1;
    color: #E61A86;
}

.card-element.active h3 {
    visibility: visible;
}

.card-element:hover {
    color: #E67919;
}

footer {
    font-size: 20px;
}


