* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nerko One', cursive;
    background-color:#ADD8E6;
}

h1 {
    font-size: 70px;
    color: white;
    text-align: center;
    padding-top: 20px;  
    text-shadow: 2px 2px 4px black; 
    margin-bottom: 47px; 
}

.row {
    margin-left: 355px;
}


.card {
    width: 161px;
    height: 185px;
    background-color: white;
    border-radius: 10px;
    margin-left: 21px;
    display: inline-block;
    background-image: url('../img/pattern.png');
    margin-bottom: 10px;
    background-position: center;
    background-size: 25%;
    vertical-align:middle;
    margin-bottom: 33px;
    text-align: center;
    box-shadow: 3px 3px 2px black;  
}


