* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nerko One', cursive;
    background-color:#ADD8E6;
}

h1 {
    font-size: 70px;
    color: white;
    text-align: center;
    padding-top: 20px;  
    text-shadow: 2px 2px 4px black;  
}

